@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: var(--font-neue-metana);
}

h1,
h2,
h3,
h4,
h5{
  @apply font-bold;
}

h2 {
  @apply text-3xl text-orange;
}
